[2018-04-18 13:51] mpeyper opened #2 "Escape nesting delimiters in identifiers [@redux-dynostore/core]"
### Is it a bug, feature request or question?

Feature request

### Which package(s) does this involve?

@redux-dynostore/core

### Input Code & Current Behaviour

This issue is duplicating ioof-holdings/redux-dynamic-reducer#10 from the old library.

@anndroow says

### Possible Solution

It was proposed by @jpeyper that providing an escape function for the identifiers could resolve the issue:

[

[2018-04-18 13:52] mpeyper opened #3 "dynamic HOC breaks if the identifier uses / or . characters when subspaced [@redux-dynostore/core, @redux-dynostore/react-redux, @redux-dynostore/react-redux-subspace, @redux-dynostore/redux-subspace]"
### Is it a bug, feature request or question?

Bug

### Which package(s) does this involve?

`@redux-dynostore/core`
`@redux-dynostore/react-redux`
`@redux-dynostore/react-redux-subspace`
`@redux-dynostore/redux-subspace`

### Input Code

This issue is duplicating ioof-holdings/redux-dynamic-reducer#11 from the old library.

[code]

[Here is a sandbox](https://codesandbox.io/s/521vxrvqn) demonstra

[2018-04-18 14:03] mpeyper opened #4 "ImmutableJs support [@redux-dynostore/core]"
### Is it a bug, feature request or question?

Feature request

### Which package(s) does this involve?

@redux-dynostore/core

### Input Code

This issue is duplicating ioof-holdings/redux-dynamic-reducer#9 from the old library.

@kovcic asked:

### Expected Behavior

The redux state can be an immutablejs object and work with redux-dynostore

### Current Behavior

I replied:

### Possible Solutio

[2018-04-18 16:29] markerikson opened #5 "Docs and use cases?"
Skimming through the READMEs, this looks very interesting.  Can you clarify how this relates to `redux-subspace` and `redux-dynamic-reducer`?  Is it a superset, a wrapper, or something else?

[2018-04-19 03:05] mpeyper commented on #5
It is a replacement for `redux-dynamic-reducer` (I'll be adding deprecation warnings those packages soon).

There is an interesting relationship with `redux-subspace`.  It does not require it to do it's thing (if you just want to dynamically attach reducers or run sagas, then you can, but it has been designed to work very well and closely with subspace so that a component ("micro-frontend") can wi

[2018-04-19 03:26] mpeyper commented on #5
The docs here are still more or less what we had on the internal repo, so there are likely some mistakes and assumptions of knowledge and should be improved.

[2018-04-19 19:45] mpeyper opened #6 "Incorrect examples in the package README [@redux-dynostore/redux-subspace]"
### Is it a bug, feature request or question?

Bug, I guess

### Which package(s) does this involve?

@redux-dynostore/redux-subspace

### Expected Behavior

The docs shouldn't be wrong 😛

### Current Behavior

The example is the [README for the `redux-subspace` package](https://github.com/ioof-holdings/redux-dynostore/blob/master/packages/redux-dynostore-redux-subspace/README.md)

The imports for

[2018-05-01 17:19] telesma opened #7 "Attached reducers are not immediately available when using redux v4 and redux-devtools-extension"
Question:
I am struggling with dynamically attached reducers and async loaded components via 'react-loadable'. Looks like the store gets only updated after navigating a 2nd time to the async component. Meaning the component is already loaded.

Is there any use case for this kind of scenario? Would be really nice to load the reducers at the same time as the async component.

[2018-05-01 19:57] mpeyper commented on #7
Hi @telesma,

Mounting the component with react-loadable should _just work_. In fact this was the primary use case for us for a long time (we replaced react-loadable with a custom solution, but the concept is still the same).

Can you set up a simple [codesandbox](https://codesandbox.io) to show the problem. I might have time later this morning to create a working example for you too.

[2018-05-02 01:34] mpeyper opened #8 "Redux v4 compatability"
Redux v4 has been officially released now so we need to ensure that all of our packages are still compatible.

From my understanding, there aren't many breaking changes, but we are aware of #7 so far, which hopefully won't take too long to be resolved.

The redux peer dependency should continue to support ^3.0.0 so it will need changing to ^3.0.0 || ^4.0.0 (or however else it's possible to define

[2018-05-02 09:52] telesma commented on #7
Hi @mpeyper,

yes, I am using redux v4 and the redux-devtools and I can confirm switching back to redux v3 does resolve the issue.

Thank you for your effort digging into this issue!

[2018-05-04 03:03] mpeyper commented on #7
No worries.  I'll leave this open until it's confirmed to be fixed so others might find it.

[2018-05-26 06:53] dantman commented on #2
I would love to be able to escape the identifier. I follow a `Company/Namespace/Slice/ACTION` pattern in naming my action types. I would like to be able to just use the same `Company/Namespace/Slice` as the identifier without it resulting in a deeply nested `Company.Namespace.Slice` tree in my redux state. It gets irritating inside dev tools because `Company` is at the start of every single slice

[2018-05-26 21:38] dantman commented on #2
@mpeyper I don't actually know what code is responsible for the identifier. I tried looking at the code but I can't identify one spot I should change. Would you share what you've done so far as a base?

[2018-05-26 23:20] mpeyper commented on #2
I've pushed up what I have done so far [here](https://github.com/mpeyper/redux-dynostore/commit/1c23f04915d28c9d9dbcd2e0741311936441177c).

I'm _think_ it's almost good to go, just needs some docs and maybe some tidying up.  The other bit I'm not sure on is how things like the saga handler will cope with an escaped identifier (it'll probably be fine as its a lot simpler than the reducer handler, b

[2018-06-06 09:15] TomiS commented on #4
Hey. I made a first attempt on this. I managed to get my page loading without errors with these changes to the library:
https://github.com/TomiS/redux-dynostore/commit/2dafdec3b66b6610eaa6579d865f8a291dd1992d
It seems `filteredReducer.js` requires most of the changes because the original implementation assumes plain javascript object as state. `createDynamicReducer.js`, however, can be handled by

[2018-06-06 09:50] mpeyper commented on #4
Hey @TomiS,

Thanks for having a go at this.  I think you're on a good track.  I definitely agree that allowing `combineReducers` (and probably `concatenateReducers`) to be be overridden is the way to go here.

The bit I'm not sure of is how we can allow both the default and immutablejs implementations to co-exist, unless we also allow a custom `filteredReducer` function as well, which feels a bit

[2018-06-12 18:45] jennguyen54 commented on #5
@mpeyper I'm a big fan of the library. I have been playing around with redux-dynamic-reducer and this one for a few weeks so I'll be happy to help with the documentation and some "recipes" for some common use cases if needed  :D

[2018-06-12 20:02] mpeyper commented on #5
More than happy to see them.

What use cases did you have in mind?

[2018-06-18 19:09] Ethorsen opened #9 "Simple question: What is dynostore equivalent to mapExtraState from redux-dynamic-reducer"
Simple question:  What is dynostore equivalent to mapExtraState from redux-dynamic-reducer

I'd like to move right away from redux-dynamic-reducer to dynostore, but can't figure out how to use enhancers to map extra state to my subspace

Used to do something basic like this to just forward all app state to my module (just as a test)
[code]

My guess is that I'll have to use custom enhancers from n

[2018-06-19 07:30] mpeyper commented on #9
Hi @Ethorsen,

That bit of functionality was not brought across to `redux-dynostore` as we didn't use it.  We found the [`redux-subspace` `wormhole` functionality](https://ioof-holdings.github.io/redux-subspace/packages/redux-subspace-wormhole/docs/Usage.html) covered more of our use cases with less effort.

[code]

That's not to say it couldn't be implemented here as well though, if there was a s

[2018-06-19 07:37] jpeyper commented on #9
Is option 2 even doable possible without subspace?

What's the original goal here? I don't even remember the original functionality!

Copying the state with `mapExtraState` so cannot be modified by accident?

[2018-06-19 08:19] mpeyper commented on #9
It would merge the resulting object with the state for the provided key so you could add extra values from the parent or root state to the child.

Option 2 without subspace would let you create derived state, copy a key to different name, or add constant state to the current level of nesting (I image it is technically a subspace the maps to the current state).

[2018-06-19 10:11] jpeyper commented on #9
So what is the OP trying to do with

[code]

[2018-06-19 10:14] jpeyper commented on #9
Oh sorry, I just reread his message

Used to do something basic like this to just forward all app state to my module (just as a test)

[2018-06-19 10:16] jpeyper commented on #9
I feel like if you need to forward all app state, the just don't subspace it? Dynamic reducer used to force subspaces, but dynostore doesn't.

And if you need specific values use wormholes.

[2018-06-19 11:16] Ethorsen commented on #9
Thx for your feedback guys.

Actually, my app will allow a user to load one or multiple instances of the same module that should live side-by-side without any conflict. Let's say the app is a 'Launcher'. In this case I think subspacing them will be the only way to go.   A bunch of state handling will be done at launcher level, managing for example login logic, language selection, high level config

[2018-06-19 13:03] jpeyper commented on #9
Yes that is an issue with wormholes, every child subspace gets them all. We do have a few ideas to fix/change them to be more selective (its on my todo list, it just hasn't been a priority... https://github.com/ioof-holdings/redux-subspace/issues/57)

Having said that, I'm still not sure I understand what kind of state the launcher is providing that couldn't be universally shared by all modules (t

[2018-06-19 13:07] jpeyper commented on #9
Also, we want to make transitioning from redux-dynamic-reducer, so we definitely want to implement either option 1 or 2 (or similar), just to smooth the transition, even if we deprecate the feature later in favour of a better solution.

[2018-06-19 13:32] Ethorsen commented on #9
I believe option 2 is better as I agree with what you said:

[2018-06-19 14:06] jpeyper commented on #9
I'm starting to get a clearer picture of your problem now. Its not a perfect solution but...

An undocument feature of dynostore is that is passes the `identifier` to the `dynamic` component.

So, if you changed your tabs to be map rather than an array that took the entire identifier name, your wormhole can just be

[code]

And inside `DashBoardContainer ` you can use `props.identifier` to get the

[2018-06-19 14:32] Ethorsen commented on #9
Nice, I'll explore those avenues.

[2018-06-19 17:36] mpeyper commented on #9
Thinking about it a bit more, I don't think option 2 is viable without reimplementing a lot of what subspace does.

I was thinking the enhancer would look something like:

[code]

This would allow the additional state to be merged into the current state (e.g. you wanted to grab something from the `rootState`).

The issue is that if this enhancer is used before the `subspaced` enhancer, the subspac

[2018-06-19 17:56] mpeyper commented on #9
I think option 1 would look something like:

[code]

But I don't have time to test or document it.  It also doesn't provide the [`withExtraState` fluent function](https://github.com/ioof-holdings/redux-dynamic-reducer/tree/master/packages/react-redux-dynamic-reducer#3-mount-the-component) that `redux-dynamic-reducer` had.

Happy to review PRs for this.  The file to change is [here](https://github.

[2018-06-20 04:02] MillerGregor opened #10 "Question: Any advice if my list of dynamic components is also not static? [@redux-dynostore/react-redux]"
For my needs, I'd like to create dynomic components from a list of identifiers that isn't static.  This list would ideally be in a separate slice of the redux state.

I implemented this in my app, but am running into recursive update problems.

Here's a codesandbox with the counters example, modified to illustrate:
https://codesandbox.io/s/1r2wwjp2pl

Can anyone suggest an idea to make this work?

[2018-06-20 06:54] mpeyper commented on #10
Hey,

The issue was caused by calling `Counter.createInstance(id)` inside a render function.  This creates a new higher-order component which [should not be done inside a render method](https://reactjs.org/docs/higher-order-components.html#dont-use-hocs-inside-the-render-method).

Here's a fork of your codesandbox that works, take particular note of the `DynaCounter` component:
https://codesandbox

[2018-06-20 07:02] mpeyper commented on #10
I've seen this type of issue come up a few times where people have wanted to use a dynamic identifier.  I'm wondering if there is some way we can support this?

From the top of my head, one option might be to accept an identifier as a prop that overrides the provided one, e.g.

[code]

This would make the `createInstance` functionality a bit moot though.

It would also allow for index based identi

[2018-06-20 14:35] Gregor1971 commented on #10
Excellent - thank you.

I should have figured that out.  It's easy (for me) to forget that the whole body of a functional component is  the render function.

A component like you suggest might be very useful.  It's the declarative option to the imperative `createInstance()`.

[2018-06-20 17:35] Gregor1971 commented on #10
@mpeyper,

If you'd rather not add a component to the library, I'd be happy to add this example via PR.  Let me know.

[2018-06-20 18:32] mpeyper commented on #10
I think the example is worth it, regardless of whether we implement the feature.

My only thought is that the example got a bit wonky if you pressed the "add three" button multiple times.  If it could "add three", then "add four", etc. that would be better.

@jpeyper what do you think about an `identifier` prop?

[2018-06-20 18:34] mpeyper commented on #10
@Gregor1971 it would be fun if you could have a counter control the number of counters to display 😆

[2018-06-20 21:57] jpeyper commented on #10
I was wondering about this the other day when answering the other issues.

It actually makes more sense to me than the current approach.

[2018-06-20 22:47] mpeyper commented on #10
Do we have both or remove `createInstance`?

This has me thinking about #9... I think we could provide a `withExtraState` like functionality by passing the props into the enhancers and letting then choose either their provided options or and override from props.

e.g. change [this line](https://github.com/ioof-holdings/redux-dynostore/blob/master/packages/redux-dynostore-react-redux/src/dynamic.js

[2018-06-20 23:42] Gregor1971 commented on #10
@mpeyper

Wouldn't be difficult... but I like to keep example code as simple as possible. :smile:

[2018-06-21 00:05] mpeyper commented on #10
Cool. I'll take a look a bit later.

[2018-06-26 14:41] Ethorsen commented on #9
Unfortunately that piece of code wont help solve my current issue.  (I currently fixed using jpeyper suggestion, allowing my modules all tabs information and providing index in its props).  I'm not saying this functionality should not be included in the project, just that its not for the current issue.

Each of my dynamic module can be instantiated one or multiple times.  Each instance will receiv

[2018-06-26 16:42] Ethorsen commented on #9
Nevermind, I'll give it a try and might post a PR soon..

[2018-06-26 18:41] Ethorsen commented on #9
This does seem to do the trick.  Works nicely on my end.

I'll still be using wormholes for states that are shared across all dynamic modules

[2018-06-28 01:18] mpeyper commented on #3
Once #13 is merged it would be very simple to do option 2.

However, [I made a comment](https://github.com/ioof-holdings/redux-dynostore/pull/12#issuecomment-400494557) in #12 about possibly concating instance identifiers with the base identifiers.  As a follow up thought to that, it might be cool if they were separated by a `/` (or `.`) to add a grouping around the instance state, but this would

[2018-06-28 20:04] #9 closed

[2018-06-29 06:03] jpeyper commented on #3
I would say option 2 for now.. concating the identifier is a breaking change and might require more thought on what impact it would have is someone was relying on being able to completely change the identifier.

[2018-06-29 06:11] mpeyper commented on #3
I guess we can always do option 2 now and maybe option 1 in a future release.

[2018-06-29 12:20] Ethorsen opened #14 "Ability to remove and destroy a created instance of a dynamic component"
Hi guys,

One of my next assignment is to find a way for us to close a module tab (in other words, destroy an instantiated dynamic).

It would be nice if the Dynamic component would provide a new function to remove itself.  Maybe something like

[code]

Of course, if its not a rabbit hole, I would gladly contribute and develop that feature.  I'd just need a small push in the right direction.

Thx

[2018-06-29 23:08] mpeyper commented on #14
I'm not entirely sure what you mean by this.  Can you elaborate?

---

The ability to remove a reducer has always been on the `TODO` list, but we have never found having the old state linger in the store to be enough of an issue to bother.

I've always imagined it working in 2 parts:

1. [`dynamicReducers`](https://github.com/ioof-holdings/redux-dynostore/blob/master/packages/redux-dynostore-core/

[2018-06-30 01:49] #6 closed

[2018-06-30 04:37] mpeyper commented on #3
So I had a go at option 2 and there was an unexpected consequence of just escaping the identifier. I works for the component finding it's state for the correct subspace, but the actions still have the escaped tokens in them (makes readability a nightmare).  Trying to have it so that everything was escaped and unescaped at the right points led me to a dead end where the subspace could only give me

[2018-07-03 14:44] Ethorsen commented on #14
What I hope to achieve is I believe much more simple. I wouldnt want any automated process when unmounting the component.

My app is opening modules in a tab view.  Each instance is mounted when its tab is active, and unmounted when another tab is selected. So the app is gonna mount/unmount a dynamic component multiple times in its lifespan. As long as it keeps a reference to the instance, its red

[2018-07-06 13:32] Ethorsen commented on #14
I'm currently working on this.   I get to the point where the component is trying to remove its reducer from the store.

In dynamicReducers,  my detach function looks like this

[code]

Simple enough, I can see that dynamicReducers is having its reducer entry removed.   But it does not remove it from the redux store. Seems it can add/replace keys in the store but not remove them. Probably because

[2018-07-06 15:21] mpeyper commented on #14
It's potentially the `filteredReducer` hack that it making it so the deleted key is never actually being passed through to the reducer at all to be removed.

The only thing I can think of at the moment is to wrap the root reduced in reducer that listens for a specific delete action and forcibly removes the value at the given path and recursively walks back up the tree, deleting the values of the r

[2018-07-06 21:46] jpeyper commented on #14
I might suggest that perhaps a better solution for you is not to remove the state from the tree, but reset the state when the component mounts for a second time using something like redux-recycle and an RECYCLE_COMPONENT action you dispatch with the dynostore enhancer

[2018-07-06 22:04] mpeyper commented on #14
I believe @Ethorsen does not want to reset the state when the component mounts and wants it to remain for some extended lifecycle of the component, destroying the state at some future point when no more instances of the component are required.

[2018-08-28 05:13] Jake88 commented on #14
Hi @mpeyper,

Been off and on this for a little bit, but I have now implemented a solution more or less following the comments above. I wanted to run it past everyone here for feedback before I tidy it up and create a pull request.

### Reducers
Code for detaching reducers is as above
[code]
Also as discussed; cleaning up the store
[code]
_**Note 1**: Currently I am extending our reducer before we

[2018-08-30 20:10] mpeyper commented on #14
Hi @Jake88,

Thanks for you're effort so far, It's looking and sounding good so far.  Here is some more specific feedback:

This looks fine.  When does this get called?

I definitely think this is something that should be handled inside of redux-dynostore, so I'd move it into the library, rather than applying it outside.

If the reducer knew what it's key was, you could add it to the "clean up" ac

[2018-09-06 05:35] Jake88 commented on #14
Thanks @mpeyper

I've created a pull request with these changes and am looking for some feedback. I believe I've actioned everything we spoke about here.

[2018-12-03 19:43] psamusev commented on #8
Guys, any updates on that issue?
We have already successfully migrated to `alpha` version of redux-subspace package which support redux v4 and would like to have all redux v4 compatible packages in project

[2018-12-03 21:35] mpeyper commented on #8
Im not sure the status of #7 (haven't checked in a while) which was the biggest blocker to this.

If my Mac ever finishes this Mojave update, I may have time later today to take another look.

[2018-12-04 07:10] psamusev commented on #8
@mpeyper, thank you!

[2018-12-04 18:50] mpeyper commented on #7
I have confirmed that the redux-devtools and redux-devtool-extension issue has been resolved and this bug is no longer occurring in the above code sandboxes.

Closing.

[2018-12-04 18:50] #7 closed

[2018-12-04 18:54] mpeyper commented on #8
@psamusev I have closed #7 now and [redux-subspace alpha has been released as stable now](https://github.com/ioof-holdings/redux-subspace/releases/tag/v3.0.0), so there does not appear to be any remaining incompatibilities to bumping the supported version of redux in this library too.

I'm happy for anyone to do this, otherwise I will get to it shortly.

[2018-12-04 19:03] psamusev commented on #8
@mpeyper thank you a lot! We will try to help you

[2018-12-09 10:09] telesma opened #20 "Support for react-redux v6"
Do you plan to support react-redux v6 which provides compatibility for the new Context API?

https://github.com/reduxjs/react-redux/releases

[2018-12-09 11:42] mpeyper commented on #20
Support is planned, but work has not started on it yet.

[2018-12-17 13:17] klis87 opened #21 "SSR compatibility"
### Is it a bug, feature request or question?
Question/Feature request

### Which package(s) does this involve?
Probably every package, but mostly react-redux binding

### Expected Behavior

Does this library support server side rendering?  I know SSR + code splitting is quite a tricky combination, but thx for libraries like react-loadable or loadable-components it is possible now for React. I am

[2018-12-17 19:46] mpeyper commented on #21
To be honest, I've never done SSR myself and don't know what is involved, what the pitfalls are and what might make dynostore incompatible.

Essentially, all dynostore does is add a redux enhancer and accesses the store in React context to call some functions when the component did mount, so I think if all those pieces are SSR compatible, it should _just work_.

If you want to set up an example (e

[2018-12-17 19:50] jpeyper commented on #21
(i know Michael already answered, but I write this out on my phone in bed so I didn't want to waste it).

SSR is not something we use (yet) so it has not been tested or a focus of this library.

I can't see why the core packages wouldn't work (in theory) although I do know there are tricky bits about SSR that could trip us up. The more specific package for sagas (or other compatibility enhancers/p

[2018-12-17 19:51] mpeyper commented on #21
Also, just to clarify, dynostore does not do any code splitting itself. Usually you would wrap the top level component inside the split chunk to in `dynamic` so that wires itself into the store after the chunk has loaded and mounted (using something like react-loadable and webpack's dynamic import).

[2018-12-17 20:01] jpeyper commented on #21
We have an example of using react-loadable in our [micro-frontends example](https://github.com/ioof-holdings/redux-dynostore/blob/master/examples/microfrontends/src/components/External.js).

I don't really want to dilute this question with that issue, so if you have questions about code splitting and dynostore, let's do it in another issue.

[2018-12-17 20:04] mpeyper commented on #21
And the [real world example](https://github.com/ioof-holdings/redux-dynostore/blob/master/examples/real-world/src/root/routes.js).

I can 100% guarantee dynostore works with react-loadable and videotaping, but this issue is about SSR.

[2018-12-18 11:03] klis87 commented on #21
@jpeyper @mpeyper thx for your fast answers, now I can see that code-splitting won't cause any problems for SSR. There are different problems though. I checked your documentation and I suspect that SSR won't be possible for now. To be able to do SSR, we need 2 things:

1) ability to serialize state on server side, inject it into index.html, and then, on client side, deserializing it and injecting

[2018-12-20 08:47] mpeyper commented on #21
This is where my knowledge of SSR is falling short as I don't think I know enough to actually help here...

In theory, this should work.  In practice, there is bug in redux-subspace that would probably prevent this from working as expected.  It has been [fixed in a PR](https://github.com/ioof-holdings/redux-subspace/pull/100) but not released yet.

The dynamic section of the state should get ignor

[2018-12-20 13:14] klis87 commented on #21
@mpeyper yeah, thx for the detailed answer.

Using this library state is still global, so I imagine to have a method on the server which would merge static state and dynamic state from dynamic reducers into one object. Then, on the client side, we could pass it in `createStore`, static reducers would just ignore this extra state, and dynamic ones could pick it on during mounting if a given dynamic

[2018-12-23 10:48] jpeyper commented on #21
Just FYI, I came across this discussion about using replaceReducers (how dynostore works) when SSR and some issues that it has in the  react-redux V6.

https://github.com/reduxjs/react-redux/issues/1126

[2018-12-23 10:54] jpeyper commented on #20
Might need to keep a few of the things mentioned here in mind...

https://github.com/reduxjs/react-redux/issues/1126

[2018-12-24 15:53] Ethorsen commented on #20
Will keep an eye out for dynostore updates. Then we'll task a react-redux 6.x upgrade.

[2019-01-15 14:44] jpeyper commented on #4
Will the changes in #18 effectively close this issue?

[2019-01-15 19:03] mpeyper commented on #4
Yes

[2019-01-15 22:03] #4 closed

[2019-01-25 13:37] VitaliyZadorozhnyy commented on #20
Any updates on this ?

[2019-01-29 03:14] qn895 opened #22 "Support for redux-saga v1"
### Is it a bug, feature request or question?

Feature request

### Which package(s) does this involve?

redux-subspace-saga
redux-dynostore-redux-saga
redux-dynostore-redux-subspace-saga

### Input Code

Please see the following sandbox and look for the test results. This is a fork from github with minimal change except for the package upgrade.

https://codesandbox.io/s/j49y25o659

### Expected B

[2019-01-29 09:23] jpeyper commented on #22
Sorry an identical button press :(

[2019-01-29 09:56] jpeyper commented on #22
We definately have plans to support v1 now that it's out. Subspace is really where the bulk of the changes will be, and depending on the breaking changes (which we're yet to go over) it might be easy or very hard to do the upgrade.

PRs are most definately welcome at this stage and we will help where we can.

[2019-02-04 23:34] mihhauk opened #23 "If the state of reducer is an object, new state is a merge of previous and returned value"
### Bug

If the state of reducer is an object, new state is a merge of current state and returned value

### Which package(s) does this involve?

@redux-dynostore (not sure which package) version: 2.0.0

[code]

### Expected Behavior

newState is equal to { new: 'val' }
resetState is equal to { }

### Current Behavior

newState is equal to {  foo: 'bar', new: 'val' }
resetState is equal to { foo:

[2019-02-05 00:10] mpeyper commented on #23
Also, I suspect that the issue is a bit more serious than just resetting the state, as I think it may make it impossible to actually remove any keys at all.

[2019-02-11 16:52] Ethorsen opened #24 "Dispatch an action to subspaced reducers of an already instantiated dynamic"
Hi guys,

Would it be possible to dispatch actions to a subspace but, as opposed to the dispatchAction enhancer, at any time **after** it has been instantiated?

Thx

[2019-02-11 20:03] jpeyper commented on #24
Hi, and thanks for your question.

I believe this is already possible and the intended , can you post the snippet of your `dynamic` and imports so we can better understand the what you're trying to achieve and where it might be going wrong?

[2019-02-11 20:15] jpeyper commented on #24
I've just been chatting with @mpeyper, and perhaps I'm wrong...

In any case, getting a but more information about your you're setting up your target and expected outcomes will help us make sure we're answering the right question.

[2019-02-12 11:57] Ethorsen commented on #24
I have a particular dynamic module, that will be instantiated once and shown in a dialog when a user is requesting to open it.  When the dialog is being opened, I want to inject some values in the module store (ex. return path, callback function, etc)

Module is declared and exported like
`DialogModule = dynamic('dialogModule', attachReducer(ModuleOwnReducers))(DialogModule );`

Then is created wi

[2019-02-12 19:53] jpeyper commented on #24
So if I'm understanding correctly,

You actually want to fire an action from outside the subspace that will be handled within the subspace.

We've usually used props for this case, but we've had context of what we wanted to pass in (ie, not a reusable dialog).

Subspace has a feature to [scope actions](https://ioof-holdings.github.io/redux-subspace/docs/advanced/ScopingActions.html).

At the very

[2019-02-13 12:28] Ethorsen commented on #24
Yes scope actions is exactly what I needed.

And I believe you are right about the state, pushing functions in it is probably not a good idea. I know it is working for having done some tests with this, but I'm sure it's a real bad practice.  I'll explore some other possibilities.

Thx a lot for you help.

[2019-02-13 23:19] jpeyper commented on #24
Cool I'll close this issue now, but please feel free to open again if you need any more help or advice.

[2019-02-13 23:19] #24 closed

[2019-02-23 07:29] emailodroid opened #25 "'dynostoreOptions' of undefined"
### Problem
When i attach new reducer and saga i get
`Uncaught TypeError: Cannot read property 'dynostoreOptions' of undefined
`

### My store file

[code]

### My component with reducers and sagas that needs to be injected

[code]

[2019-02-23 09:54] emailodroid commented on #25
I think that was the problem with react-redux version. after i downgraded it from 6 to 5 that works fine but i got another error:
`TypeError: Cannot read property 'subspaceOptions' of undefined`

Here is my package.json
[code]

[2019-02-24 09:14] mpeyper commented on #25
Hi @emailodroid,

You're correct about react-redux v6, it is not supported ([yet](https://github.com/ioof-holdings/redux-subspace/pull/103))

I'll take a look at this and see if I can work out what's going wrong.  A replication [codesandbox](https://codesandbox.io/) (or sandbox of your choice) is really helpful for debugging these kinds of issues.

Can you share the rest of the stack trace as well

[2019-03-16 22:48] wilbert-abreu commented on #21
Any updates on this issue?

[2019-03-19 20:02] jpeyper commented on #21
Not from us, we're still not using SSR and don't plan to any time soon but we do have plans to support redux v6 soon (#20)

Not sure if @klis87 has tried out anything more now redux v6 is out now, or progressed further with SSR.

As always, if you're able and need the feature, we would love help solving this. PRs welcome.

[2019-03-20 11:16] klis87 commented on #21
@jpeyper I didn't, because I really think that we need to wait for possibility to pause rendering on the server and resume, for example after a promise is resolved. Now it is not possible, that's why in many cases SSR involves double rendering (even 1st sometimes is not a full render like in react-apollo, but still)

For now I opted for an alternative solution to redux code splitting.Instead of co

[2019-05-01 15:27] xuanlongvts opened #26 "Broken on react-redux 7.0.2"
I have just updated react-redux 7.0.2, it is work

[2019-05-01 21:52] mpeyper commented on #26
Yeah, redux v6 and v7 are not supported yet.

See #20.

[2019-05-01 21:52] #26 closed

[2019-05-25 00:18] AlSharp opened #27 "growing number of reducer function calls ending with error"
### Is it a bug, feature request or question?

the number of reducer function calls is growing on each dynamic reducer mounting

### Which package(s) does this involve?

I am using only
"@redux-dynostore/core": "^2.0.0"
"redux-subspace": "^3.0.1"

my dependencies:
[code]

### Input Code

I have a backend where I react when I attach or detach usb device by sending message to react app.

here is the

[2019-05-29 01:55] qideng commented on #25
Got the same error of `TypeError: Cannot read property 'subspaceOptions' of undefined`.

It went away when I use
`import createSagaMiddleware from 'redux-subspace-saga';`
instead of
`import createSagaMiddleware from 'redux-saga';`

My `package.json` has

` ...
"react-redux": "^5.1.1",
"redux-subspace": "^2.4.0",
"redux-subspace-saga": "^2.4.0",
... `

[2019-06-10 20:52] qn895 opened #28 "Update state from the rootReducer level"
### Is it a bug, feature request or question?

Question: I have a globalAction that's similar to `{type: "MERGE_PAYLOAD", payload: {blah: "blah"}`. Its implementation is something like this

[code]

An example use case is to load the configuration/settings of the specific component the user has previously saved. While putting the above piece of code in every component works, we are trying to gener

[2019-06-11 11:21] mpeyper commented on #27
Hi @AlSharp,

Sorry for the delayed response.

Not sure what's happening here and it's a bit hard to follow without a reproduction repo or [code sandbox](https://codesandbox.io/).  Any chance of setting something up to help me debug this?

This error suggests that the dynamic state might not be merging back together correctly. You also mentioned that you are attaching and detaching pieces of the s

[2019-06-11 13:01] mpeyper commented on #28
Hi @qn895,

I don't think there is currently anything that provides this sort of functionality.

If reusability is the goal, you could just create a shared library that exports a higher-order reducer that handles the merge functionality for you, e.g.

[code]

and then wrap your reducers in that before attaching them.

I could also see an option added (or an extension to v2's `stateHandler` functio

[2019-06-11 14:26] qn895 commented on #28
I think you're right, I'll try out the first solution with the higher order reducer as quick solution. I really like the idea of the rootEnhancers option, though I wonder if we should have something akin to what we have for middleware (applyToRoot, applyToNamespacedRoots, applyToChildren) as well?

But then again, I guess it might not matter since it already intercepts the root reducer after the d

[2019-06-11 20:46] mpeyper commented on #28
Interesting... I'm not sure how it would know what "level" the reducer is at (they are fairly agnostic of where in the tree they live), but conceptually like the idea.

Anyway, let me know how you go with option 1 and if you want to explore this enhancement further.

[2019-06-11 21:15] qn895 commented on #28
Yeah I got the option 1 working pretty well for the all the dynamic components so no problem so far. It works something like this:

[code]

[code]

Works well for my case, but I think being able to compose multiple reducer enhancers at the root level before returning is much better in the long run. I'll be happy to explore this option and help out if needed.

[2019-06-18 20:17] AlSharp commented on #27
Hi, @mpeyper ,
Thank you for response
I will try to reproduce the case on a small example and share it.

[2019-07-02 22:24] stephen-dahl opened #30 "warnings on fresh install"
### Is it a bug, feature request or question?
fresh install gives errors
[code]

### Which package(s) does this involve?
[code]

### Input Code

[code]

### Expected Behavior

no warnings while installing latest version of your packages

[2019-07-03 01:45] mpeyper commented on #30
lerna is _supposed_ to take care of this sort of thing, but maybe there are some issues in our setup or they way it ran when we released?

Anyway, we should fix this up.

[2019-09-16 14:35] Ethorsen commented on #20
Hi guys,

Now that redux-subspace has been updated to use latest redux (thx to you), any chance you might tackle dynostore and bring it to the pace?

Thx

[2019-09-16 17:51] mpeyper commented on #20
Hi @Ethorsen,

It's definitely on the to-do list and I'm planning on tackling it in the near future (just taking a small family-time break after the slog of the subspace upgrade).

[2019-09-28 12:11] #20 closed

[2019-09-28 12:11] #22 closed

[2019-09-28 12:11] #23 closed

[2019-09-28 12:14] mpeyper commented on #30
This should be fixed in v3. Closing now, but please let me know if it's still an issue.

[2019-09-28 12:14] #30 closed

[2020-01-14 10:55] hasakilol opened #155 "how to dispatch action from my component to counter elegantly"
I have a **question**:
Take dynamic-counters as the example, by default it has `Counter one` and `Counter two` 2 counters.
Now I want dispatch actionType.INCREMENT from my react Component
called MyComponent to these 2 counters. How should I write the code?
I think

`dispatch({type: 'Counter one/' + actionType.INCREMENT }) `  and

` dispatch({type: 'Counter two/' + actionType.INCREMENT })`    is to

[2020-01-14 12:24] mpeyper commented on #155
[Check out `namespacedAction`:](https://ioof-holdings.github.io/redux-subspace/packages/redux-subspace/docs/api/namespacedAction.html)

[code]

or if you've got an action creator for the base action:

[code]

[2020-01-16 11:28] hasakilol opened #157 "is redux state name configurable?"
I have a question:

Take dynamic-counters as the example, I run it in Chrom and use the redux extension to the check the state tree and find that it is like this:

[code]

I thought it would be:
[code]
but it's not. How should I write the code to get my desired effect?
Maybe need some work here?
[code]

Thanks.

[2020-01-20 08:50] lostincomputer opened #160 "Thunk support"
Is Redux Thunk supported?

I configured my store to

import { createStore } from "redux";
import { rootReducer } from "./reducers";
import { composeWithDevTools } from "redux-devtools-extension";
import dynostore, { dynamicReducers } from "@redux-dynostore/core";
import thunk from "redux-thunk";
import { applyMiddleware } from "redux-subspace";

export const store = createStore(
  rootReducer,
  c

[2020-01-20 13:18] mpeyper commented on #160
Yes, thunks are supported.

The store setup looks fine so I'll need to see the thunk and how you're dispatching it to help you out any further.

I'm on holidays at the moment, so my response times might be a bit slow.

[2020-01-21 09:24] lostincomputer commented on #160
The action is bare-bone

export function thunkTest() {
  return async (dispatch) {
    console.log("thunkTest");
  };
}

Works when I dispatch it on a React component that's on the root but it doesn't work when I dispatch it on a component that is on a subspace. Here is the component:

export const Spreadsheet = props => {
  const ConnectedSpreadsheet = dynamic(
    props.identifier,
    subspaced

[2020-01-21 09:34] lostincomputer commented on #160
I tested it again and it works now for some reason. I spent an hour trying to fix it yesterday and thought that it had something to do with your library. Sorry for wasting your time.

[2020-01-21 09:34] #160 closed

[2020-01-21 09:47] mpeyper commented on #160
Ha, no worries.

I have to mention one thing though:

[code]

There is an issue with this snippet.  `dynamic` creates a higher-order component, which you shouldn't do as part of rendering.  See [this article on the react docs](https://reactjs.org/docs/higher-order-components.html#dont-use-hocs-inside-the-render-method) for more details.

For basic use cases, you can us the [`createInstance` functi

[2020-03-04 16:41] qn895 commented on #157
@hasakilol I think that was the intended effect. If you would like to nest the subspace, you can nest `counter1` and `counter2` under another `counter` reducer.

https://ioof-holdings.github.io/redux-subspace/docs/advanced/NestingSubspaces.html

[2020-03-04 16:46] qn895 commented on #28
I'm gonna close this thread since we found several options that work. If anyone need to compose multiple reducer enhancers at the root level, please feel free to look at how I implemented it here #29

[2020-03-04 16:46] #28 closed

[2020-03-09 12:24] mpeyper commented on #157
At the moment there is no sanctioned way to do this.  There has previously been discussions in #3 fixing the `redux-subspace` separator character (`/`) to make inserting arbitrary level in the hierarchy a bit easier, but it was never implemented.

You can fake it by carefully inserting a `SubspaceProvider` to introduce the artificial layer, but keep in mind that it's easier to get confused about w

[2020-03-09 21:29] mpeyper commented on #155
Closing due to inactivity.

[2020-03-09 21:29] #155 closed

[2020-03-21 08:09] PitterL opened #212 "is "immutable" reducer support in dynostore?"
Hi, Ioof:

Question:
How to attachReducer() if the reducer create from an  immutable expression?

import { fromJS } from 'immutable';

// The initial state of the App
const initialState = fromJS({
  loading: false,
  error: false,
  currentUser: false,
  username: "",
  userData: {
    repositories: false,
  },
});

function appReducer(state = initialState, action) {
    switch(action.type) {

[2020-03-21 11:55] mpeyper commented on #212
We have an example of immutablejs support.  Does this help at all?

https://github.com/ioof-holdings/redux-dynostore/blob/master/examples/immutablejs/src/store.js#L9-L21

[2020-03-21 16:19] namnguyen2091 opened #213 "How do I mix redux-dynostore with redux-persist?"
Please let me know this problem, thanks.

[2020-03-21 16:21] #213 closed

[2020-03-24 14:51] namnguyen2091 opened #216 "Mix redux-persist and redux-dynostore"
I can mix two library by following code, but when dynamic reducer is created I can not see it in storage. How do I fix it?

Here is repository of redux-persist: https://github.com/rt2zz/redux-persist. I try to get mapState but it's not working too and everythings I created in static reducer is undefined in this.props.

[code]

[code]
And in my component I call, it runs without error:

[code]

[2020-03-24 23:38] karlshea opened #218 "Immutable.js example stateHandler bug"
It looks like this line:

https://github.com/ioof-holdings/redux-dynostore/blob/a3b07cb9cf5e4a69a63e343f14e369e246e74a77/examples/immutablejs/src/store.js#L11

should use `keySeq()` instead. There's no `forEach()` method on the ES6 iterator that Immutable.js returns. Took me quite a while to track down why my lazy-loaded components couldn't add a reducer.

It's called from `filteredReducer()` here

[2020-03-24 23:43] karlshea commented on #218
Also when you're creating an initial store, it also appears that you can't use redux-immutable's `combineReducers()`. You have to use the one from redux-dynostore and pass in `combineReducers(rootReducer, { stateHandler: immutableJsStateHandler }`

[2020-03-25 02:52] mpeyper commented on #216
Just to clarify, do you have two seperate issues?

1. the dynamic reducers are not present in the storage
2. the root reducer values are not available in the `Task` `mapStateToProps` function

Is that correct?

The issue with 1 is that the static and dynamic reducers are very much seperate in the core of dynostore.  If you want dynamic reducers to be persisted, you will need to wrap them in their

[2020-03-25 03:02] mpeyper commented on #218
This was definitely working when I wrote it.  It's entirely likely that something has been broken along the way though.

The bit about `combineReducers` is interesting.  The example doesn't have a combined root reducer so I didn't stumble across that one.  If this is insurmountable, we should add a note somewhere in that example or one of the READMEs to let people know.

I'll leave this open until

[2020-03-25 03:20] karlshea commented on #218
It doesn't actually break in the example since the example doesn't set up an initial set of reducers or state, so that function doesn't seem to ever be called where it would fail. I should have some time to get a PR for the immutable example in the next day or so.

[2020-03-25 03:52] namnguyen2091 commented on #216
Thanks, this is correct. I think there are too much problem to mix both package, so I will try the last once and then I'm sorry, I will remove this package.

[2020-03-25 19:59] #218 closed

[2020-03-25 20:01] #216 closed

[2020-03-31 08:38] irosner opened #229 "Cannot re-add sagas after they have been removed [redux-saga]"
### Is it a bug, feature request or question?
Bug

### Which package(s) does this involve?

### Input Code

[code]

### Expected Behavior

Sagas will start working again after they are re-attached
This is described in original PR description - https://github.com/ioof-holdings/redux-dynostore/pull/16

### Current Behavior

Nothing happens

### Possible Solution
Seems connected to changes in redux-s

[2020-04-06 12:22] Ethorsen opened #234 "Upgrade to React 16.13.1 creates a new console warning"
Hi guys,

Hope you're doing well.

React 16.13.x introduces a new warning

https://github.com/facebook/react/blob/master/CHANGELOG.md#react-dom-1
- Warn when a function component is updated during another component's render phase (@acdlite in #17099)

As soon as we update, we have this warning thrown, something like described here

- https://github.com/facebook/react/issues/18178#issuecomment-5962

[2020-04-06 13:49] mpeyper commented on #234
Thanks, I'll look into it.

[2020-04-22 04:43] mpeyper commented on #229
Hi @irosner,

Thanks for your patience in waiting for a response.  I'm not sure what the path forward is here for us as the way we run and cancel sagas is a [thin layer over the saga middleware](https://github.com/ioof-holdings/redux-dynostore/blob/master/packages/redux-dynostore-redux-saga/src/dynamicSagas.js#L14-L29).  I've read through those issues but I'll be honest that I'm not sure how we're

[2020-04-23 17:28] macklay opened #243 "How to use nested dynamic functions calls without nesting substores?"
[code]
Now I get such store structure:
store: {
module1: { module2: {...}  }
}
but I need something like this:
store: {
module1: {...}
module2: {...}
}

[2020-04-24 00:30] mpeyper commented on #243
You're going to have to give me more context around the problem you're trying to solve here as the structure you're looking for is not intuitive to the underlying component structure so `MyComponent` won't be able to resolve the state for one of the modules if you do that.

Unless  you want `MyComponent`'s view of the store to include both module keys as well, in which case you probably don't want

[2020-04-24 06:56] macklay commented on #243
I think, I found solution.
If I pass context in subspace in this way it works:
[code]
Unfortunately current dynostore version is not support subspaceOptions parameter.
I tried to make pull request with this ability(https://github.com/ioof-holdings/redux-dynostore/pull/237) but now I dont have free time to make it in more appropriate way.

[2020-05-02 13:13] mpeyper commented on #243
#237 has been released in `v3.1.0`.  Please try it out and let me know how you go.  I'll close this for now, but if you have issues we'll reopen it and work through it.

[2020-05-02 13:13] #243 closed

[2020-05-08 16:41] as4ashish opened #258 "Getting error 'mapState must not return undefined' after calling function store.detachReducers(['dynamicReducer'])"
### Is it a bug, feature request or question?
Bug

### Which package(s) does this involve?
[Counter.txt](https://github.com/ioof-holdings/redux-dynostore/files/4600359/Counter.txt)
 [@redux-dynostore/core]"

### Sandbox URL
https://codesandbox.io/s/staging-fire-84m98?file=/src/components/Counter.js

### Input Code

[code]

### Expected Behavior
So this onClick on button 'Remove Counter' dispatch a

[2020-05-12 05:34] chuyuandu opened #263 "type declaration is necessary for typescript user"
feature request

there's no declaration file in the package
it will raise an eslint error in default  CRA project
type declaration is necessary for users

[2020-05-12 08:32] mpeyper commented on #263
This package does a lot of crazy dynamic things that are difficult to statically type (or at least beyond my Typescript abilities).

If anyone want to take this on, I'd gladly accept a PR to add type definitions.

[2020-05-12 10:41] mpeyper commented on #258
This is a chicken and egg problem.  You cannot remove a reducer that is being used by a component that is still mounted, and calling `detachReducers` in the click handler is going to remove the reducer before the the component has unmounted and unfortunately there is an additional render that kicks in because of it.

The simplest approach is to move the call to either `componentWillUnmount` or the

[2020-06-01 12:09] #258 closed

[2020-08-12 17:24] Ethorsen commented on #234
Hi @mpeyper,   have you had a chance to look into this?

React 17 is coming up and most likely the console warning will persist.

Thx

[2020-08-12 21:09] mpeyper commented on #234
Sorry @Ethorsen I haven't. Covid happened and my time for OSS has all but evaporated (home schooling kids plus my day job) and I forgot about it.

Thanks for reminding me and I'll try to look into it soon 😅

If anyone else has the capacity, I'll gladly accept PRs for this.

[2020-08-13 10:59] mpeyper commented on #234
I'm just really confused by this.  The error says there is a "bad setState() call inside Dynamic(Connect(App))", but we don't have a single `setState` call (class component or hook) in the entire repo (including examples).

Is it possible it's another dependency that is causing it, but because we're wrapping it in out HOC it is reporting like it's coming from us? I'm not trying to handball it, but

[2020-08-13 11:30] Ethorsen commented on #234
I believe it is really confusing for everybody.  It is very possible that the warning is coming from one of the deps.

Upgrading to React 17 rc0 still prints the warning, but in a new format.  Might give a different perspective on the issue.
https://codesandbox.io/s/magical-lamport-7yh3g

Maybe its coming from react-loadable,  I dunno.

[2020-08-13 12:17] mpeyper commented on #234
I think I might have cracked it.  the `attachReducer` enhancer, when used with `dynamic` ends up calling `store.replaceReducer` in the render path which I think is producing the warning (presumable the other connected components are checking if their state is affected by the updated state or something, which is why the warning mentions `ConnectFunction`).

I've got a very hacky version that runs t

[2020-08-14 11:49] mpeyper commented on #234
I managed to find a (obvious in hindsight) way to not need to introduce new variations of `attachReducer`, but rather move when the enhancer chains are executed in `dynamic` itself.  This made it a much cleaner change to make, but the same assumptions about rendering `null` for a single render is still there.

The PR is up #347 and I'm considering publishing an alpha build to see if we can validat

[2020-08-14 13:58] Ethorsen commented on #234
We'll gladly test if there is a released alpha.  I'll try to schedule it in the next few weeks.

[2020-08-15 11:20] mpeyper commented on #234
@Ethorsen done.  All packages have been published as alpha version `3.1.1-alpha.0`.  Give it a run and let me know how it goes.

[2020-10-14 11:25] LFFATE opened #408 "Can it be used along with redux-observable?"
Or are there any plans to create a package to implement redux-observable compatibility?

[2020-10-14 19:55] mpeyper commented on #408
No, we don't have any plans currently, but I'm happy to review a PR to add it.

I think the implementation would be very similar to the saga compatibility packages.

[2020-10-29 08:57] lubomir-chatoryiskyi opened #424 "Static reducers in nested path disappears after attaching dynamic reducer."
### Is it a bug, feature request or question?

Question (or bug)

### Which package(s) does this involve?

[@redux-dynostore/core]

### Input Code

[code]

### Current Behavior

Hi! I'm trying to attach dynamic reducer to the store to a nested path. The issue is that in this path I already have static reducers and I'd like to attach a dynamic one. But after attaching static reducers disappears fro

[2020-10-29 11:55] n-mcnally opened #425 "Intermittent undefined state when a reducer is re-attached."
### Is it a bug, feature request or question?

Bug

### Which package(s) does this involve?

 [@redux-dynostore/core, @redux-dynostore/react-redux]

### Input Code

This implementation uses a simple `withReducer` HOC to attach and detach the provided reducers with the component.

[Code Sandbox](https://codesandbox.io/s/redux-dynostore-detach-crash-45c30)

### Expected Behaviour

When a component u

[2020-10-29 12:16] n-mcnally commented on #425
After further investigation this issue only seems to only occur whilst the Redux Devtools plugin is enabled.

[2020-11-05 05:30] nnnoel commented on #424
I've also encountered this issue. I've also tried specifying the state handler when attaching a reducer, but the custom one doesn't appear to get used.

Configuring the deep state handler in the reducer enhancement worked for me.
[code]

[2020-11-05 13:29] nnnoel commented on #424
@mpeyper The following reproduces this in the integrations spec, though I'm not sure how to fix it. It has something to do with options on this line taking hierarchal precedence. https://github.com/ioof-holdings/redux-dynostore/blob/c2b4da08a772ff3a2a17aa76ec5ac2197154b63a/packages/redux-dynostore-core/src/reducers/createDynamicReducer.js#L15

[code]

[2020-11-10 11:21] mpeyper commented on #424
Thanks for raising @lubomir-chatoryiskyi and investigating a bit @nnnoel.

In general, attaching dynamic reducers to a static reducer node is not allowed with the default state handler (shallow).  As @nnnoel discovered, the deep state handler is supposed to allow this, but there are some known issues with using it that have never been resolved and we currently advise against it.  Honestly, I think

[2020-11-10 11:31] mpeyper commented on #425
Hi @n-mcnally,

Can you please confirm if this is still an issue?  The sandbox appears to be working as I'd expect.

[2020-11-10 17:49] n-mcnally commented on #425
Hi @mpeyper,

Thanks for having a look! I've just gave it another go and can confirm the problem is still occurring.

It typically works as expected the first time the reducer is mounted/unmounted but then when it's remounted i get the undefined state in the selectors.

I have also confirmed in our app as well this problem only occurs when the redux devtools are enabled, if that's any use.

[2020-12-03 11:17] #234 closed

[2021-01-01 12:43] burakakca commented on #5
Any progress on the redux-dynostore document?

[2021-01-04 12:06] burakakca commented on #424
Any improvement? I am also facing the same problem in this regard.

[2021-01-05 22:25] mpeyper commented on #5
Sorry no.  Just what's in the [READMEs](https://github.com/ioof-holdings/redux-dynostore#packages).

[2021-01-05 22:31] mpeyper commented on #424
No changes for this @burakakca. Honestly, I'm not sure how to solve this one in general.

[2021-01-06 12:23] burakakca commented on #424
So how can I access a different subspace state from different subspace.

[2021-01-06 12:44] burakakca commented on #424
I'm asking not for this topic but for a quick response. So how can I access a different subspace state from different subspace.

[2021-01-07 02:47] mpeyper commented on #424
@burakakca the general answer is that you don't and if you do need it then perhaps you need to reconsider the boundaries of your subspaces or the use of this library all together.  There are some exceptions, namely global state, which is [covered in the `redux-subspace` docs](https://ioof-holdings.github.io/redux-subspace/docs/advanced/GlobalState.html)

Please raise a new issue if you want to dis

[2021-01-07 08:58] damon3465 opened #469 "[Question] Adding reducer dynamically without component"
I want to separate ui and dynamic attachreducer

My goal is when customer adding module in him self package. This modules has ui and many reducers.He can be add ui component then he choosing a reducer.

I don't know very well about redux but my goal is this kind of scenario.

[2021-01-07 09:49] mpeyper commented on #469
The core package can attach reducers without an component (i.e. just redux).

[Here are the docs](https://github.com/ioof-holdings/redux-dynostore/tree/master/packages/redux-dynostore-core#manually-attaching-reducers).  Let me know if that doesn't solve your issue.

[2021-01-08 07:21] damon3465 commented on #469
Yes solved but I have two components that I want to access two different registered states The action I call in todo1 component affects the component's state as todo2.

[2021-01-08 07:39] damon3465 commented on #469
https://github.com/ioof-holdings/redux-subspace This solved my problem thanks

[2021-01-10 23:04] #469 closed

[2021-01-11 18:07] jlowcs opened #473 "Since 3.1.1 SSR is not working anymore [@redux-dynostore/react-redux]"
### Is it a bug, feature request or question?

Since I bumped to 3.1.1, any SSR component wrapped with `dynamic` simply does not render anymore.

### Which package(s) does this involve?

Probably `@redux-dynostore/react-redux`

### Input Code

[code]

### Expected Behavior

When rendered through SSR, `Hello` should be part of the resulting HTML.

### Current Behavior

When rendered through SSR, `H

[2021-01-11 19:45] jlowcs commented on #473
Apparently we get the warning only when we're trying to attach a reducer after the first app render, while we need to synchronously attach the reducer when rendering server-side, or when hydrating. Those are actually compatible if we detect the first render and only do the async reducer attachment when not on the first render.

So, I tried the following:
[code]

With this at the root at the app:
[

[2021-01-11 20:14] jlowcs commented on #473
Another approach would be to only switch to async reducer attachment when on server (ie no `window`), or when not hydrating (which I don't know how to detect).

[2021-01-11 21:59] mpeyper commented on #473
Hi @jlowcs,

yes, I think your hypothesis is right, and honestly SSR was not considered when making the change (we've never _actively_ supported it, but never tried to prevent it either).

I'll take a quick look today, but I'd consider taking a hacky fix to keep you moving if it takes longer than that to find a cleaner fix.

Thanks for the investigation effort as well.  I wish more issues gave me

[2021-01-11 22:04] jlowcs commented on #473
I already implemented a temporary fix in our app by copy/pasting the `dynamic` function and using a `useAppFirstRender()` hook that I already had available.

Not great, but that'll do the job until we find a better and cleaner fix.

[2021-01-14 22:49] #473 closed

[2021-01-21 13:11] renovate[bot] opened #482 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:11] #482 closed

[2021-01-27 00:43] mpeyper opened #484 "Deprecated"
**This library is no longer being actively maintained.**

IOOF has been slowly moving away from the ubiquitous use of Redux as a core piece of our micro-frontend architecture and have been actively replacing the usage of this library with more standard React and JavaScript patterns.  Due to some technical constraints, we've also been unable to upgrade to the latest version of the library ourselves

[2021-01-27 00:43] mpeyper commented on #425
Closing. Please see #484 for details.

[2021-01-27 00:43] #425 closed

[2021-01-27 00:43] mpeyper commented on #424
Closing. Please see #484 for details.

[2021-01-27 00:43] #424 closed

[2021-01-27 00:44] mpeyper commented on #408
Closing. Please see #484 for details.

[2021-01-27 00:44] #408 closed

[2021-01-27 00:44] mpeyper commented on #263
Closing. Please see #484 for details.

[2021-01-27 00:44] #263 closed

[2021-01-27 00:44] mpeyper commented on #229
Closing. Please see #484 for details.

[2021-01-27 00:44] #229 closed

[2021-01-27 00:45] mpeyper commented on #212
Closing. Please see #484 for details.

[2021-01-27 00:45] #212 closed

[2021-01-27 00:45] mpeyper commented on #157
Closing. Please see #484 for details.

[2021-01-27 00:45] #157 closed

[2021-01-27 00:45] mpeyper commented on #27
Closing. Please see #484 for details.

[2021-01-27 00:45] #27 closed

[2021-01-27 00:46] mpeyper commented on #25
Closing. Please see #484 for details.

[2021-01-27 00:46] #25 closed

[2021-01-27 00:47] mpeyper commented on #21
Closing. Please see #484 for details.

[2021-01-27 00:47] #21 closed

[2021-01-27 00:47] mpeyper commented on #10
Closing. Please see #484 for details.

[2021-01-27 00:47] #10 closed

[2021-01-27 00:47] mpeyper commented on #5
Closing. Please see #484 for details.

[2021-01-27 00:47] #5 closed

[2021-01-27 00:48] mpeyper commented on #3
Closing. Please see #484 for details.

[2021-01-27 00:48] #3 closed

[2021-01-27 00:48] mpeyper commented on #2
Closing. Please see #484 for details.

[2021-01-27 00:48] #2 closed

[2021-01-27 03:13] #484 closed